{% extends 'core/base.html' %} 
{% load form_tags %} 
{% load static %}

{% block title %}Checkout{% endblock %} 

{% block extra_head %}
  <script src="{% static 'js/checkout.js' %}" defer></script>
{% endblock %}

{% block content %}
{% comment %} border-2 border-red-600 {% endcomment %}

<div class="container flex justify-between p-3">
    <div class="w-1/3 p-4">
        <div class="flex flex-row justify-between mb-2 p-4 bg-gray-100 rounded-md shadow-lg shadow-indigo-500/40">
            <div class="flex flex-row">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-7 h-7">
                    <path d="M2.25 2.25a.75.75 0 000 1.5h1.386c.17 0 .318.114.362.278l2.558 9.592a3.752 3.752 0 00-2.806 3.63c0 .414.336.75.75.75h15.75a.75.75 0 000-1.5H5.378A2.25 2.25 0 017.5 15h11.218a.75.75 0 00.674-.421 60.358 60.358 0 002.96-7.228.75.75 0 00-.525-.965A60.864 60.864 0 005.68 4.509l-.232-.867A1.875 1.875 0 003.636 2.25H2.25zM3.75 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM16.5 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0z" />
                </svg>
                <span class="text-xl font-semibold pl-2">{{ cart|length }} items</span>
            </div>
            
            <div class="text-xl font-semibold pl-2">${{cart.get_total}}</div>

        </div>
        
        <div class="flex items-center text-sm text-center font-light pb-2 pt-6 italic border-b border-gray-200">
            <div class="w-1/5"></div> 
            <div class="w-2/5"></div>
            <div class="w-1/5">Price</div>
            <div class="w-1/5">Quantity</div>
            <div class="w-1/5">Subtotal</div>
        </div>
        {% for item in cart %}
        <div class="flex items-center mb-4 border-b border-gray-200 pb-2">
            <div class="w-1/5">
                <img src="{{ item.toy.image.url }}" alt="{{ item.toy.title }}" class="w-16 h-16">
            </div>
            <div class="w-2/5 pl-4">
                {{ item.toy.title }}
            </div>
            <div class="w-1/5 text-center">
                ${{ item.toy.price }}
            </div>
            <div class="w-1/5 text-center">
                {{ item.quantity }}
            </div>
            <div class="w-1/5 text-center">
                ${{ item.total_price }}
            </div>
        </div>
        {% endfor %}
        
    </div>
    <div class="w-2/3 p-4">
        {% if not request.user.is_authenticated %}
        <div class="w-full bg-indigo-100 rounded-md p-2 text-center">
            <p>Returning customer? <a href="{% url 'core:login' %}" class="text-violet-600 font-semibold">Click here to login</a></p>
        </div>
        {% endif %}

        <div class="container w-full my-2">
            {% comment %} --- Biling Section --- {% endcomment %}
            <div class="section bg-gray-100 rounded-md mb-2" id="billingSection">
                <div class="flex justify-between bg-gray-100 p-2" id="billingSectionHeader">
                    <h2 class="uppercase text-lg font-semibold text-indigo-800">Billing</h2>
                    <button type="button" class="accordion-toggle" data-target="billingSectionContent">
                        {% include 'cart/partials/chevron.html' %}
                    </button>
                </div>

                {% include 'cart/forms/billing_form.html' %}
                
            </div>
            <div class="bg-gray-100 rounded-md mb-2 section" id="shippingSection">
                <div class="flex justify-between bg-gray-100 p-2" id="shippingSectionHeader">
                    <h2 class="uppercase text-lg font-semibold text-gray-400">Shipping</h2>
                    <button type="button" class="accordion-toggle" data-target="shippingSectionContent" {% if not billingFormComplete %}disabled{% endif %}>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" 
                        class="{% if not billingFormComplete %}chevron w-6 h-6 stroke-gray-400 {% else %}chevron w-6 h-6 stroke-violet-600 rotate-90{% endif %}">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                        </svg>
                    </button>
                </div>
                <form method="post" action="." class="flex flex-col bg-gray-100 py-2 px-4 {% if not billingFormComplete %}hidden{% endif %}" id="shippingSectionContent">
                    {% csrf_token %}
                    <div class="flex flex-row justify-between">
                        {% form_field shippingForm.first_name "w-1/2 fieldWrapper" %}
                        {% form_field shippingForm.last_name "w-1/2 pl-4 fieldWrapper" %}
                    </div>
                    <div class="flex flex-row justify-between">
                        {% form_field shippingForm.street_address "w-3/4 fieldWrapper" %}
                        {% form_field shippingForm.unit_apt "w-1/4 pl-4 fieldWrapper" %}
                    </div>
                    <div class="flex flex-row justify-between pb-2">
                        {% form_field shippingForm.suburb "w-2/4 fieldWrapper" %}
                        {% form_field shippingForm.state "w-1/4 pl-4 fieldWrapper" "* Please select your " %}
                        {% form_field shippingForm.postcode "w-1/4 pl-4 fieldWrapper" %}
                    </div>
                    <div class="flex w-full justify-end">
                        <button type="submit" class="w-1/4 px-4 py-2 mt-2 mb-2 rounded-xl bg-purple-500 hover:bg-purple-700 text-white">Next</button>
                    </div>
                </form>
            </div>
            <div class="bg-gray-100 rounded-md mb-2 section" id="paymentSection">
                <div class="flex justify-between bg-gray-100 p-2" id="paymentSectionHeader">
                    <h2 class="uppercase text-lg font-semibold text-gray-400">Payment</h2>
                    <button type="button" class="accordion-toggle" data-target="paymentSectionContent">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="chevron w-6 h-6 stroke-gray-400">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                        </svg>
                    </button>
                </div>
                <form method="post" action="." class="flex flex-col bg-gray-100 py-2 px-4 hidden" id="paymentSectionContent">
                    {% csrf_token %}
                    <div class="flex flex-row justify-between">
                        {% form_field paymentForm.name_on_card "w-1/2 fieldWrapper" "* Please enter the " %}
                        {% form_field paymentForm.card_number "w-1/2 pl-4 fieldWrapper" "* Please enter a valid " %}
                    </div>
                    <div class="flex flex-row ">
                        {% form_field paymentForm.expiry_month "w-1/4 fieldWrapper" "* Please select an " %}
                        {% form_field paymentForm.expiry_year "w-1/6 pl-2 fieldWrapper" "* We require the " %}
                        {% form_field paymentForm.cvv "w-1/6 pl-10 fieldWrapper" "* Please enter the " %}
                    </div>
                    <div class="flex w-full justify-end">
                        <button type="submit" class="w-1/4 px-4 py-2 mt-2 mb-2 rounded-xl bg-purple-500 hover:bg-purple-700 text-white">Next</button>
                    </div>
                </form>
            </div>
            <div class="bg-gray-100 rounded-md mb-2 section" id="summarySection">
                <div class="flex justify-between bg-gray-100 p-2" id="summarySectionHeader">
                    <h2 class="uppercase text-lg font-semibold text-gray-400">Order Summary</h2>
                    <button type="button" class="accordion-toggle" data-target="summarySectionContent">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="chevron w-6 h-6 stroke-gray-400">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
    
</div>

{% endblock %}