{% extends "core/base.html" %} 
{% load static %} 
{% block title %}Welcome{% endblock %} 

{% block content %}
<header class="w-full bg-cover bg-center py-10" style="height:15rem; background-image: url({% static '/media/HeaderImage.png' %})">
  <div class="max-w-2xl mx-auto text-center bg-gradient-to-b from-gray-900 py-5 rounded-xl">
    <p class="text-xl text-sky-100">
      Relive the past, confuse your kids. Classic toys for unapologetic Xers!
    </p>
    <div class="mt-6">
      <a
        href="#"
        class="px-4 py-2 text-sm font-semibold text-white bg-amber-500 rounded hover:bg-amber-700"
        >Shop Now</a
      >
    </div>
  </div>
</header>
  
  <div class="px-6 py-12 bg-gray-100">
    <h2 class="mb-12 text-2xl text-center">Featured Toys</h2>
    
    <div class="grid grid-cols-3 gap-3">
      {% for toy in toys %}
        <div class="shadow-md bg-white rounded-lg">
          <a href="{% url 'toy:detail' toy.id %}">
            <div class="p-5">
              <img
                src="{% if toy.image %}
                      {{ toy.image.url }}
                  {% else %}../../media/toys_images/placeholder-image.jpg{% endif %}"
                alt="{{ toy.title }}"
                class="w-full object-scale-down h-48"
              />
            </div>
            <div class="p-3 border-t border-gray-300 mx-4 text-center">
              <h2 class="text-xl font-semibold">{{ toy.title }}</h2>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="px-6 py-8 bg-gray-100">
    <h2 class="mb-12 text-2xl text-center">Categories</h2>
    <div class="grid grid-cols-4 gap-3">
      {% for category in categories %}
        <div class="rounded-lg bg-white shadow-md">
          <a href="{% url 'core:set_category_session' category.id %}">
            <div class="p-6">
              <h2 class="text-md font-semibold">{{ category.name }}</h2>
              <p class="text-sm text-gray-500">{{ category.toys.count }} toys</p>      
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}