{% extends 'core/base.html' %} 
{% load static %} 
{% block title %}Shop{% endblock %} 

{% block extra_head %}
  <script src="{% static 'js/shop.js' %}" defer></script>
{% endblock %}

{% block content %}
<div class="mt-6 px-6 py-12 bg-gray-200">
    <h2 class="mb-8 text-2xl text-center">Shop</h2>

    <div class="mb-8">
        <label for="categorySelect" class="mr-4 ml-2">Filter by category:</label>
        <select id="categorySelect" class="p-2 rounded">
            <option value="">All Categories</option>
            {% for category in categories %}
                <option value="{{ category.id }}" {% if category.id|stringformat:"s" == selected_category|stringformat:"s" %}selected="selected"{% endif %}>
                    {{ category.name }}
                </option>
            {% endfor %}
        </select>
    </div>

    <div class="grid grid-cols-4 gap-4" id="toyList">
        {% include 'core/toy_list_partial.html' %}
    </div>

</div>
{% endblock %}

