{% load static %} 
{% for toy in toys %}
<div class="toy bg-white rounded-lg">
    <h3 class="text-center font-semibold py-3 text-lg">{{ toy.title }}</h3>
            <a href="{% url 'toy:detail' toy.id %}">
                <img
                    src="{{ toy.get_image_url }}"
                    alt="{{ toy.name }}"
                    class="w-full h-64 object-scale-down"
                />
            </a>
            <div class="flex items-baseline place-content-evenly p-6 rounded-b-xl">
                <p class="text-xl">${{ toy.price }}</p>
                <span>
                    <!-- Add to Cart button -->
                    {% include 'cart\add_to_cart.html' %}
                </span>
            </div>
</div>
{% endfor %}