{% load form_tags %} 
<form hx-post="{% url 'checkout' %}" hx-swap="outerHTML" class="flex flex-col bg-gray-100 py-2 px-4" id="billingSectionContent" novalidate>
    {% csrf_token %}
    <div class="flex flex-row justify-between">
        {% form_field billingForm.first_name "w-1/2 fieldWrapper" %}
        {% form_field billingForm.last_name "w-1/2 pl-4 fieldWrapper" %}
    </div>
    <div class="flex flex-row justify-between">
        {% form_field billingForm.street_address "w-3/4 fieldWrapper" %}
        {% form_field billingForm.unit_apt "w-1/4 pl-4 fieldWrapper" %}
    </div>
    <div class="flex flex-row justify-between">
        {% form_field billingForm.suburb "w-2/4 fieldWrapper" %}
        {% form_field billingForm.state "w-1/4 pl-4 fieldWrapper" "* Please select your " %}
        {% form_field billingForm.postcode "w-1/4 pl-4 fieldWrapper" %}
    </div>
    <div class="flex flex-row justify-between pb-2">
        {% form_field billingForm.email "w-1/2 fieldWrapper" "* Please enter a valid " %}
        {% form_field billingForm.phone "w-1/2 pl-4 fieldWrapper" %}
    </div>
    <div class="flex flex-row w-full justify-end">
        <button type="submit" class="w-1/4 px-4 py-2 mt-2 mb-2 rounded-xl bg-purple-500 hover:bg-purple-700 text-white">Next</button>
    </div>
</form>