<div
    id="confirmation-{{ toy_id }}"
    class="grid grid-cols-2 gap-x-5 gap-y-1 rounded-lg absolute w-88 bottom-0 right-4 bg-rose-50 px-4 mb-1">
    <p class="text-sm col-span-2">Are you sure you want to remove this item?</p>

    <a
        class="text-white text-md text-center bg-red-500 hover:bg-red-600 px-2 rounded-md col-span-1 mb-2"
        href="{% url 'delete_item' toy_id %}"
        hx-get="{% url 'delete_item' toy_id %}"
        hx-target="#cart-item-{{ toy_id }}"
        hx-swap="delete">
        Remove
    </a>

    <a
        class="text-white text-md text-center bg-gray-400 hover:bg-gray-500 px-2 rounded-md col-span-1 mb-2"
        href="#"
        hx-get="{% url 'hx_hide_confirmation' toy_id %}"
        hx-target="#confirmation-{{ toy_id }}"
        hx-swap="outerHTML">
        Cancel
    </a>
</div>
